<% include ./partials/header %>

<div class="container-fluid">
	<div class="row">
		<h1 class="text-center page-header">Shipping Info</h1>
        <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
				<li role="presentation"><a href="/account">General</a></li>
				<li role="presentation"><a href="#">Password/Email</a></li>
				<li role="presentation"><a href="/account/billing">Billing</a></li>
				<li role="presentation" class="active"><a href="#">Shipping</a></li>
				<li role="presentation"><a href="/account/orders">Orders</a></li>
				<li role="presentation"><a href="#">Reviews</a></li>
				<li role="presentation"><a href="#">Coupons</a></li>
				<li role="presentation"><a href="#">Subscriptions</a></li>
				<li role="presentation"><a href="#">Downloaded Items</a></li>
				<li role="presentation"><a href="#">Preferences</a></li>
                </ul>
        </div>
		<div class="col-md-1"></div>
        <div class="col-md-6">

			<h2>Your Addresses</h2>


            <% if ((!account.billing || account.billing === undefined) && (!account.shipping || account.shipping === undefined)) { %> 
			<div class="panel panel-default nocards bvbform">
				<div class="panel-body">
					<p>You don't have any shipping information associated with your account. Please add info to continue. </p>
					<a class="btn btn-info nocardbutton" href="#" role="button" onclick="shownew()">Add Shipping Info</a>
				</div>
			</div>

			
            <% } else if((account.billing || billing.address1) && (!account.shipping || account.shipping === undefined || !account.shipping.name)) { %> 

			<% 
				var shipping = account.shipping;
                var billing = account.billing;
    			var card = billing.card;
	    		var billingAddress =  billing.city + ", " + billing.state + " " + billing.zip;
			%>

            <div class="panel panel-default nocards bvbform">
				<div class="panel-body">
					<div class="row">
					    <div class="col-md-6">
                            <h3>No Shipping Information</h3>
					        <p>You don't have any shipping information associated with your account, but you do have a billing address on file. Would you like to use this information?</p>
                            <label for="samebilling"><input type="checkbox" id="samebilling" value="">Shipping Same as Billing</label>
					    </div>
                        <div class="col-md-6">
                            <h3>Current Billing Information</h3>
                            <p><strong><%=billing.name %></strong></p>
                            <p><%= billing.address1 %> </p>
                            <p><%= billingAddress %> </p>
                            <p><%=billing.phone %></p>
                        </div>
					</div>
				</div>
			</div>
            <div class="addnew">
				<h2>Add New Address</h2>
	
				<form class="bvbform" id="checkout-form" method="POST" action="/account/shipping?_method=PUT">
					<div class="row">
						<div class="field form-group col-md-12 col-xs-12 span4">
							<label class="control-label field-label">Name</label> 
							<input type="text" name="name" value="" placeholder="" data-type="string" class="form-control shipping-name">
						</div>
					</div>
                    <div class="row">
						<div class="field form-group col-md-12 col-xs-12 span4">
							<label class="control-label field-label">Address Line 1</label> 
							<input type="text" name="address1" value="" placeholder="" data-type="string" class="form-control shipping-address1">
						</div>
					</div>
					<div class="row">
						<div class="field form-group col-md-12 col-xs-12 span4">
							<label class="control-label field-label">Address Line 2</label> 
							<input type="text" name="address2" value="" placeholder="" data-type="string" class="form-control shipping-address2">
						</div>
					</div>
					<div class="row">
						<div class="field col-md-3 col-xs-3 form-group span2">
							<label class="control-label field-label">City</label> 
							<input type="text" name="city" value="" placeholder="" data-type="string" class="form-control shipping-city">
						</div>
						<div class="field col-md-3 col-xs-3 form-group span2">
							<label class="control-label field-label">State</label> 
							<input type="text" name="state" value="" placeholder="" data-type="string" class="form-control shipping-state">
						</div>
						<div class="field col-md-3 col-xs-3 form-group span2">
							<label class="control-label field-label">Zip/Postal Code</label> 
							<input type="text" name="zip" value="" placeholder="" data-type="string" class="form-control shipping-zip">
						</div>
						<div class="field col-md-3 col-xs-3 form-group span2">
							<label class="control-label field-label">Country</label> 
							<input type="text" name="country" value="" class="form-control shipping-country">
						</div>
					</div>
                    <input type="hidden" class="shipname" value="<%=billing.name%>"/>
                    <input type="hidden" class="shipaddress1" value="<%=billing.address1%>"/>
                    <input type="hidden" class="shipphone" value="<%=billing.phone%>"/>
                    <input type="hidden" class="shipcity" value="<%=billing.city%>"/>
                    <input type="hidden" class="shipstate" value="<%=billing.state%>"/>
                    <input type="hidden" class="shipzip" value="<%=billing.zip%>"/>
                    <input type="hidden" class="shipcountry" value="<%=billing.country%>"/>
					<button class="btn btn-info form-group" type="submit">Add Shipping Info</button>
				</form>
			</div>

			<% } else { %>

				<% 
				var shipping = account.shipping;
                var billing = account.billing;
    			var card = billing.card;
	    		var billingAddress =  billing.city + ", " + billing.state + " " + billing.zip;
				%>

                <% var shippingAddress =  shipping.city + ", " + shipping.state + " " + shipping.zip %>            

                <div class="panel panel-default nocards bvbform">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Shipping Information</h3>
                                <p><strong><%=shipping.name %></strong></p>
                                <p><%= shipping.address1 %> </p>
                                <p><%= shippingAddress %> </p>
                                <p><%=shipping.phone %></p>
								<a class="btn btn-info nocardbutton" href="#" role="button" onclick="shownew()">Add Shipping Info</a>
                            </div>
                        </div>
                    </div>
                </div>

            <% } %>

			<div class="addnew">
					<h2>Add New Address</h2>
		
					<form class="bvbform" id="checkout-form" method="POST" action="/account/shipping?_method=PUT">
						<div class="row">
							<div class="field form-group col-md-12 col-xs-12 span4">
								<label class="control-label field-label">Name</label> 
								<input type="text" name="name" value="" placeholder="" data-type="string" class="form-control shipping-name">
							</div>
						</div>
						<div class="row">
							<div class="field form-group col-md-12 col-xs-12 span4">
								<label class="control-label field-label">Address Line 1</label> 
								<input type="text" name="address1" value="" placeholder="" data-type="string" class="form-control shipping-address1">
							</div>
						</div>
						<div class="row">
							<div class="field form-group col-md-12 col-xs-12 span4">
								<label class="control-label field-label">Address Line 2</label> 
								<input type="text" name="address2" value="" placeholder="" data-type="string" class="form-control shipping-address2">
							</div>
						</div>
						<div class="row">
							<div class="field col-md-3 col-xs-3 form-group span2">
								<label class="control-label field-label">City</label> 
								<input type="text" name="city" value="" placeholder="" data-type="string" class="form-control shipping-city">
							</div>
							<div class="field col-md-3 col-xs-3 form-group span2">
								<label class="control-label field-label">State</label> 
								<input type="text" name="state" value="" placeholder="" data-type="string" class="form-control shipping-state">
							</div>
							<div class="field col-md-3 col-xs-3 form-group span2">
								<label class="control-label field-label">Zip/Postal Code</label> 
								<input type="text" name="zip" value="" placeholder="" data-type="string" class="form-control shipping-zip">
							</div>
							<div class="field col-md-3 col-xs-3 form-group span2">
								<label class="control-label field-label">Country</label> 
								<input type="text" name="country" value="" class="form-control shipping-country">
							</div>
						</div>
						<button class="btn btn-info form-group" type="submit">Add Shipping Info</button>
						<button class="btn btn-danger form-group" type="button" onclick="hideform()">Cancel</button>
					</form>
				</div>
        </div>
    </div>
</div>

<% include ./partials/footer %>